[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Google Play Music
Exec=google-chrome --app=https://play.google.com/music/listen
Icon=google-music
StartupWMClass=play.google.com__music_listen
