[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Google Sheets
Exec=google-chrome --app=https://sheets.google.com --profile-directory=Default
Icon=google-sheets
StartupWMClass=sheets.google.com
