[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Google Play Music
Exec=google-chrome --app=https://play.google.com/music/listen
Icon=google-music
StartupWMClass=8221c6a58a70d7e7cfcdd16f481760b356f9bfb3
