[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Paper
Exec=google-chrome --app=https://paper.dropbox.com
Icon=docear
StartupWMClass=paper.dropbox.com
