[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Todoist
Exec=google-chrome --app=https://chrome.todoist.com/app --profile-directory=Default
Icon=gnome-todo
StartupWMClass=chrome.todoist.com__app
