[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Twitter
Exec=google-chrome --app=https://mobile.twitter.com
Icon=web-twitter
StartupWMClass=ec880628fb97dc32a4a379a2cee04bab214fff8a
